{% extends 'companybase.html' %}
{% block content %}
{% load static %}
<div class="container">
    {% if obj %}
<section>
  <div class="container card col-sm-12 m-5">
    <div class="row">
      <div class="col-sm-1">
        <img src="{% static 'rigth.png' %}" width="30" id="img-companys" > 
      </div>
    <div class="applied-allert">
     <P  class="m-auto centar" style=" color: green;"><span style="color: black;"><strong>{{user_data.username}}</strong></span> your successfully posted a new job on the role of <span style="color:#3c98ed;">{{obj.Skills}}</span> in <span style="color:#3c98ed;">{{obj.CompanyName}}</span></P>
    </div>
  </div>
</section>
{% endif %}
   {{forms.errors}}
   
    <form action="{% url 'jobkarleapp:job_postview' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{user.id}}">
    <h3 class="m-2"><strong>JOB PORTEL</strong></h3>
    <div class="row">
        <div class="col-sm-5 m-2">
            <input type="text" class="form-control" name="companyname" placeholder="CompanyName">

        </div>
        <div class="col-sm-5 m-2">
            <input type="text" class="form-control" name="skills" placeholder="Role"
        </div>
    </div>
    <div class="m-2">
        <div class="form-group shadow-textarea">
            <label for="exampleFormControlTextarea6">Shadow and placeholder</label>
            <textarea class="form-control z-depth-1" name = "Company_description" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..."></textarea>
          </div>
    </div>
    <div class="row">
        <div class="col-sm-5 m-2">
            <label for="cars">Choose a Minimum Experience:</label>

            <select id="min_exp" name="min_experience">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
            </select>
        </div>
        <div class="col-sm-5 m-2">
            <label for="cars">Choose a Maximum Experience:</label>

            <select id="max_exp control-form" name="max_experience">
            
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 m-2">
            <label for="cars">Choose a Maximum Experience:</label>

            <select id="min_salary " name="min_salary">
              <option value="0">0</option>
              <option value="1,00,000">1</option>
              <option value="2,00,000">2</option>
              <option value="3,00,000">3</option>
              <option value="4,00,000">4</option>
              <option value="5,00,000">5</option>
              <option value="6,00,000">6</option>
              <option value="7,00,000">7</option>
            </select>
        </div>
        <div class="col-sm-5 m-2">
            <label for="cars">Choose a Maximum Experience:</label>

            <select id="max_salary " name="max_salary">
              <option value="0">0</option>
              <option value="1,00,000">1</option>
              <option value="2,00,000">2</option>
              <option value="3,00,000">3</option>
              <option value="4,00,000">4</option>
              <option value="5,00,000">5</option>
              <option value="6,00,000">6</option>
              <option value="7,00,000">7</option>
            </select>
        </div>
    </div>
    <div class="m-2">
        <div class="form-group shadow-textarea">
            <label for="exampleFormControlTextarea6">Shadow and placeholder</label>
            <textarea class="form-control z-depth-1" name="roledescription" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..."></textarea>
          </div>
    </div>
    <div class="row">
        <div class="col-sm-5 m-2">
            <input type="text"  class="form-control" name="firsthrname" placeholder="First HrName">
        </div>
        <div class="col-sm-5 m-2">
            <input type="number"  class="" name="firsthrnumber" placeholder="First HrNumber">        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 m-2"><input type="text"  class="form-control" name="secondhrname" placeholder="Second HrName">}</div>
        <div class="col-sm-5 m-2"><input type="number"  class="form-control" name="secondhrnumber" placeholder="Second HrNumber"></div>
    </div>
    <div class="m-2">
        <input type="text"  class="form-control" name="interviewdate" placeholder="Interview Date">
    </div>
    <div class="m-2">
        <input type="text"  class="form-control" name="interviewlocation" placeholder="Interview Location">
    </div>
    <input type="submit" class="m-2" value="POST COMPANY REQUIRMENTS">
</form> 
</div>
<script>
    $("#demoCustomPalette").mdbWYSIWYG({
        colorPalette: {
          red: '#d50000',
          green: '#64dd17',
          yellow: '#fff176',
          blue: '#03a9f4',
          purple: '#6a1b9a',
          white: '#fff',
          black: '#000'
        }
      });
</script>

{% endblock %}